.App {
  text-align: center;
}



h1 {
  background-color: bisque;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

input {
  margin-right: 8px;
}

button {
  margin-left: 8px;
}